<html ng-app='feedbackApp' ng-controller="feedbackController">
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- SmartMenus core CSS (required) -->
<link href="/css/sm-core-css.css" rel="stylesheet" type="text/css" />

<!-- "sm-blue" menu theme (optional, you can use your own CSS, too) -->
<link href="/css/sm-blue.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- SmartMenus jQuery plugin -->
<script type="text/javascript" src="/js/jquery.smartmenus.js"></script>

<!-- SmartMenus jQuery Keyboard Addon -->
<script type="text/javascript" src="/js/jquery.smartmenus.keyboard.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="/feedbackcontroller.js"></script>
<style>
#myModal{
display:none;
}
#div1{
margin:20px;
}
img{
}
body{
background-repeat:no-repeat;
margin:auto;
background-size:100% 100%;
}
p,h1{
 font-family:"Comic Sans MS", cursive, sans-serif;
 
}

#div3{
margin-top: 250px;
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
margin:50px;
border-radius:10px;
}
.sm-blue{
    border-radius: 1px !important;    
}
#main-nav{
    background: #024d87 url(/images/navigationBg.png) right 0 no-repeat;
        
}


</style>
<script>
jQuery(document).ready(function($){
$('#sub1').click(function(){
$('#myModal').modal('show');
});
})


</script>
<head>
<body>
<div style="margin-top:20px !important;"><a href="/" title="L&amp;T Technology Services">
                        <img src="images/site_logo.jpg" alt="L&amp;T Technology Services" width="250" height="30" /></a></div><br>
<nav id="main-nav" role="navigation">
  <!-- Sample menu definition -->
  <ul id="main-menu" class="sm sm-blue">
    <li><h2><a href="/index.html">Home</a></h2></li>
    <li><h2><a href="#">About Us</a></h2>
    </li>
    <li><h2><a href="#">Industry</a></h2></li>
    <li><h2><a href="#">Services</a></h2>
      
    </li>
    <li><h2><a href="#">Solutions</a></h2></li>
    <li><h2><a href="#">Investors</a></h2></li>
    <li><h2><a href="#">Newsroom</a></h2></li>
    <li><h2><a href="#">Insight</a></h2></li>
    <li><h2><a href="#">Careers</a></h2></li>
    <li><h2><a href="#">Contact Us</a></h2></li>
    <li><h2><a href="#">User</a></h2>
    <ul>
        <li><a href="/clientprofile.html#?id={{id}}">Profile</a></li>
        <li><a href="/login.html">logout</a></li>
      </ul>
    </li>
  </ul>
</nav>
<br>
<!-- <div id='div1'>
<img src='/css/images/logo.jpg'>

<div> -->



<div id='div3'>
<p >	Dear <b>{{name}}</b>,</p>
<p  align='justify'>         Thank you for giving us the opportunity to serve you better. 
Please help us by taking a few minutes to tell us about the service
that you have received so far.We appreciate your business and want to make sure we meet your expectations.</p>
<form name='f1' >
<p>Your First impression about our company?</p>
<textarea rows='5' cols='35' ng-model='feedback.q1' name='q1' required></textarea>

<p>Do you find our work force is technically Sound?</p>
<p><input type='radio' ng-model='feedback.q2' name='q2'value='extreamly good' required>Extreamly good<br>
<input type='radio' ng-model='feedback.q2' name='q2' value='good'>good<br>
<input type='radio' ng-model='feedback.q2' name='q2' value='adequate'>Adequate<br>
<input type='radio' ng-model='feedback.q2' name='q2' value='poor'>Poor<br></p>

<p>Would you use our service in the future?</p>
<p>
<input type='radio' ng-model='feedback.q3' name='q3' value='definitely' required> Definitely<br>
<input type='radio' ng-model='feedback.q3' name='q3' value='Probably'>Probably<br>
<input type='radio' ng-model='feedback.q3' name='q3' value='Not sure'>Not sure<br>
<input type='radio' ng-model='feedback.q3' name='q3' value='probably not'>probably not<br>
<input type='radio' ng-model='feedback.q3' name='q3' value='Definitely Not'>Definitely Not</p>
<p>
<p>Thinking of similar products / services offered by other companies, how would you compare the product 
/ service offered by our company?</p>
<p><input type='radio' ng-model='feedback.q4' name='q4' value='much better' required>Much Better<br>
<input type='radio' ng-model='feedback.q4' name='q4' value='somewhat better'>Somewhat Better<br>
<input type='radio' ng-model='feedback.q4' name='q4' value='about the same'>About the same<br>
<input type='radio' ng-model='feedback.q4' name='q4' value='somewhat worse'>Somewhat Worse<br>
<input type='radio' ng-model='feedback.q4' name='q4' value='much worse'>Much Worse</p>
<p>Overall, how satisfied were you with the service?</p>
<p>
<input type='radio' ng-model='feedback.q5' name='q5'value='very satisfied' required> Very Satisfied<br>
<input type='radio' ng-model='feedback.q5' name='q5'value='satisfied'>Satisfied<br>
<input type='radio' ng-model='feedback.q5' name='q5'value='Netral'>Neutral<br>
<input type='radio' ng-model='feedback.q5' name='q5'value='unsatisfied'>UnSatisfied<br>
<input type='radio' ng-model='feedback.q5' name='q5' value='very unsatisfied'>very UnSatisfied</p>

<p>Would you recommend our product / service to colleagues or contacts within your industry?</p>
<p>
<input type='radio' ng-model='feedback.q6' name='q6'value='definitely' required>yes,I would Definitely<br>
<input type='radio' ng-model='feedback.q6' name='q6'value='Probably'>May not<br>
</p>
<p>How responsive is LTTS in supporting srvices and solving issues?</p>
<p>
<input type='radio' ng-model='feedback.q7' name='q7' value='very instantive' required > Very Instantive<br>
<input type='radio' ng-model='feedback.q7' name='q7' value='instantive'>Instantive<br>
<input type='radio' ng-model='feedback.q7' name='q7' value='delay'>Delay<br>
<input type='radio' ng-model='feedback.q7' name='q7' value='not responsive' >Not Respondive<br>
<p>Do you have any suggestions to improve our product and service?</p>
<textarea rows='5' cols='35' ng-model='feedback.q8' name='q8' required></textarea><br><br>

<input type='button' value='Submit' ng-click="addFeedback();" class="btn btn-primary" id='sub1' ng-disabled='f1.$invalid'>

<input type='reset' value='Reset'class="btn btn-primary" >
</form>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
   <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thank you for your valuable feedback</h4>
        </div>
        <div class="modal-body">
          <p>Have a nice Time.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" onClick="window.location.href='clientprofile.html'">Close</button>
        </div>
      </div>
      
    </div>
	</div>



<script type="text/javascript">
    $(function() {
        $('#main-menu').smartmenus({
            subMenusSubOffsetX: 1,
            subMenusSubOffsetY: -8
        });
        $('#main-menu').smartmenus('keyboardSetHotkey', '123', 'shiftKey');
    });
</script>

</body>



</html>