<html ng-app=''>
<head>
<script src='angular.min.js'></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
#myModal{
display:none;
}
#div1{
margin:20px;
}
img{
border-radius:50%;
height:80px;
width:180px;
}
body{
  
background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);
background-repeat:no-repeat;
margin:auto;
background-size:100% 100%;
}
p,h1,td,th,h3{
 font-family:"Comic Sans MS", cursive, sans-serif;
 
}

#div3{
margin-top: 250px;
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
margin:50px;
border-radius:10px;
}
th,tr,h1,h3{
  padding: 30px;
  color:white;
  text-align: center;
}


</style>
<script>
jQuery(document).ready(function($){
$('#sub1').click(function(){
$('#myModal').modal('show');
});
})


</script>
<head>
<body>
<center><h3> Clients Feedback </h3></center>
<table align='right'><tr><td><input type='text' ng-model='search' name=search required>&nbsp;&nbsp;<input type='submit' value='search'class="btn btn-primary" ></td></tr></table><br><br><br>
<table align='center' class='table'>
<tr><th>ClientName</th><th>Feedback</th><th>MoreInfo</th></tr>
<tr><td>CISCO</td><td>Excellent</td><td><input type='submit' value='More info'class="btn btn-primary" id='sub1'></td></tr>
</table>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
   <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thank you for your valuable feedback</h4>
        </div>
        <div class="modal-body">
         

<form name='f1' >
<p>Your First impression about our company?</p>
<textarea rows='5' cols='35' ng-model='q1' name='q1' placeholder='Reputed Organization' readonly="readonly"></textarea>

<p>Do you find our work force is technically Sound?</p>
<p><input type='radio' ng-model='q2' name='q2' value='extreamly good' checked='true'>Extreamly good<br>
<input type='radio' ng-model='q2' name='q2' value='good'>good<br>
<input type='radio' ng-model='q2' name='q2' value='adequate'>Adequate<br>
<input type='radio' ng-model='qq2' name='q2' value='poor'>Poor<br></p>

<p>Would you use our service in the future?</p>
<p>
<input type='radio' ng-model='q3' name='q3' value='definitely' checked='true'> Definitely<br>
<input type='radio' ng-model='q3' name='q3' value='Probably'>Probably<br>
<input type='radio' ng-model='q3' name='q3' value='Not sure'>Not sure<br>
<input type='radio' ng-model='q3' name='q3' value='probably not'>probably not<br>
<input type='radio' ng-model='q3' name='q3' value='Definitely Not'>Definitely Not</p>
<p>
<p>Thinking of similar products / services offered by other companies, how would you compare the product 
/ service offered by our company?</p>
<p><input type='radio' ng-model='q4' name='q4' value='much better' >Much Better<br>
<input type='radio' ng-model='q4' name='q4' value='somewhat better' checked='true'>Somewhat Better<br>
<input type='radio' ng-model='q4' name='q4' value='about the same'>About the same<br>
<input type='radio' ng-model='q4' name='q4' value='somewhat worse'>Somewhat Worse<br>
<input type='radio' ng-model='q4' name='q4' value='much worse'>Much Worse</p>
<p>Overall, how satisfied were you with the service?</p>
<p>
<input type='radio' ng-model='q5' name='q5'value='very satisfied' > Very Satisfied<br>
<input type='radio' ng-model='q5' name='q5'value='satisfied' checked='true'>Satisfied<br>
<input type='radio' ng-model='q5' name='q5'value='Netral'>Neutral<br>
<input type='radio' ng-model='q5' name='q5'value='unsatisfied'>UnSatisfied<br>
<input type='radio' ng-model='q5' name='q5' value='very unsatisfied'>very UnSatisfied</p>

<p>Would you recommend our product / service to colleagues or contacts within your industry?</p>
<p>
<input type='radio' ng-model='q6' name='q6'value='definitely' checked='true'>yes,I would Definitely<br>
<input type='radio' ng-model='q6' name='q6'value='Probably'>May not<br>
</p>
<p>How responsive is LTTS in supporting srvices and solving issues?</p>
<p>
<input type='radio' ng-model='q7' name='q7' value='very instantive' > Very Instantive<br>
<input type='radio' ng-model='q7' name='q7' value='instantive' checked='true'>Instantive<br>
<input type='radio' ng-model='q7' name='q7' value='delay'>Delay<br>
<input type='radio' ng-model='q7' name='q7' value='not responsive' >Not Respondive<br>
<p>Do you have any suggestions to improve our product and service?</p>
<textarea rows='5' cols='35' ng-model='q8' name='q8' placeholder='All the best'></textarea><br><br>



</form>
</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
	</div>





</body>



</html>